<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DayTourThemeMapper">

    <update id="update">
        update daytour_theme
        <set>
            <if test="name != null">
                name = #{name}
            </if>
        </set>
        where theme_id = #{themeId}
    </update>

</mapper> 